En este cuaderno de Jupyter se realizó la carga de las 4 tablas correspondientes a las Streamings:
Amazon, Disney, Hulu y Netflix, así como el proceso de ETL.

In [310]:
# Importación de la librería a usar en el proceso

import pandas as pd

In [311]:
# Carga de la tabla de Amazoon Prime, así como una mirada a los primeros dos registros para ir analizando
# los datos

df_amazon = pd.read_csv ('./Datasets/amazon_prime_titles-score.csv')
df_amazon.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,99
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,37

In [312]:
df_amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
 12  score         9668 non-null   int64
dtypes: int64(2), object(11)
memory usage: 982.0+ KB

In [313]:
# Carga de la tabla de Disney Plus

df_disney = pd.read_csv ('./Datasets/disney_plus_titles-score.csv')
df_disney.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!,100
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...,17

In [314]:
df_disney.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
 12  score         1450 non-null   int64
dtypes: int64(2), object(11)
memory usage: 147.4+ KB

In [315]:
# Carga de la tabla de Hulu

df_hulu = pd.read_csv ('./Datasets/hulu_titles-score (2).csv')
df_hulu.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...,48
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r...",8

In [316]:
df_hulu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
 12  score         3073 non-null   int64
dtypes: float64(1), int64(2), object(10)
memory usage: 312.2+ KB

In [317]:
# Carga de la tabla de Netflix

df_netflix = pd.read_csv ('./Datasets/netflix_titles-score.csv')
df_netflix.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",29
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",86

In [318]:
df_netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
 12  score         8807 non-null   int64
dtypes: int64(2), object(11)
memory usage: 894.6+ KB

In [319]:
# Generar campo id en todas las tablas

df_amazon ['id'] = 'a' + df_amazon ['show_id']
df_disney ['id'] = 'd' + df_disney ['show_id']
df_hulu ['id'] = 'h' + df_hulu ['show_id']
df_netflix ['id'] = 'n' + df_netflix ['show_id']

In [320]:
# Reemplazar los valores nulos en la columna 'rating' por 'G'

df_amazon['rating'].fillna('G', inplace = True)
df_disney['rating'].fillna('G', inplace = True)
df_hulu['rating'].fillna('G', inplace = True)
df_netflix['rating'].fillna('G', inplace = True)

In [321]:
# Convertir los registros de la columna 'date_added' a formato AAAA-mm-dd

df_amazon['date_added'] = pd.to_datetime(df_amazon['date_added'])
df_disney['date_added'] = pd.to_datetime(df_disney['date_added'])
df_hulu['date_added'] = pd.to_datetime(df_hulu['date_added'])
df_netflix['date_added'] = pd.to_datetime(df_netflix['date_added'])

In [322]:
# Convertir la columna 'cast' del Dataframe 'df_hulu' en object (ya que se cargó como float)

df_hulu['cast'] = df_hulu['cast'].astype(object)

In [323]:
# Convertir a minúsculas todas las columnas de texto en cada tabla

df_amazon['type'] = df_amazon['type'].str.lower()
df_amazon['title'] = df_amazon['title'].str.lower()
df_amazon['director'] = df_amazon['director'].str.lower()
df_amazon['cast'] = df_amazon['cast'].str.lower()
df_amazon['country'] = df_amazon['country'].str.lower()
df_amazon['rating'] = df_amazon['rating'].str.lower()
df_amazon['duration'] = df_amazon['duration'].str.lower()
df_amazon['listed_in'] = df_amazon['listed_in'].str.lower()
df_amazon['description'] = df_amazon['description'].str.lower()

df_disney['type'] = df_disney['type'].str.lower()
df_disney['title'] = df_disney['title'].str.lower()
df_disney['director'] = df_disney['director'].str.lower()
df_disney['cast'] = df_disney['cast'].str.lower()
df_disney['country'] = df_disney['country'].str.lower()
df_disney['rating'] = df_disney['rating'].str.lower()
df_disney['duration'] = df_disney['duration'].str.lower()
df_disney['listed_in'] = df_disney['listed_in'].str.lower()
df_disney['description'] = df_disney['description'].str.lower()

df_hulu['type'] = df_hulu['type'].str.lower()
df_hulu['title'] = df_hulu['title'].str.lower()
df_hulu['director'] = df_hulu['director'].str.lower()
df_hulu['cast'] = df_hulu['cast'].str.lower()
df_hulu['country'] = df_hulu['country'].str.lower()
df_hulu['rating'] = df_hulu['rating'].str.lower()
df_hulu['duration'] = df_hulu['duration'].str.lower()
df_hulu['listed_in'] = df_hulu['listed_in'].str.lower()
df_hulu['description'] = df_hulu['description'].str.lower()

df_netflix['type'] = df_netflix['type'].str.lower()
df_netflix['title'] = df_netflix['title'].str.lower()
df_netflix['director'] = df_netflix['director'].str.lower()
df_netflix['cast'] = df_netflix['cast'].str.lower()
df_netflix['country'] = df_netflix['country'].str.lower()
df_netflix['rating'] = df_netflix['rating'].str.lower()
df_netflix['duration'] = df_netflix['duration'].str.lower()
df_netflix['listed_in'] = df_netflix['listed_in'].str.lower()
df_netflix['description'] = df_netflix['description'].str.lower()

In [324]:
# Dividiendo la columna 'duration' en 'duration_int' y 'duration_type' en la tabla de Amazon

duration = df_amazon['duration'].str.split(expand = True)
duration.columns = ['duration_int', 'duration_type']
df_amazon = pd.concat ([df_amazon, duration], axis = 1)


# Cambiando el tipo de dato en 'duration_int' a int
df_amazon['duration_int'] = df_amazon['duration_int'].astype(int)

# Normalizando los registros 'seasons' en 'season'
df_amazon['duration_type'].replace('seasons', 'season', inplace = True)

In [325]:
# Dividiendo la columna 'duration' en 'duration_int' y 'duration_type' en la tabla de Disney

duration = df_disney['duration'].str.split(expand = True)
duration.columns = ['duration_int', 'duration_type']
df_disney = pd.concat ([df_disney, duration], axis = 1)


# Cambiando el tipo de dato en 'duration_int' a int
df_disney['duration_int'] = df_disney['duration_int'].astype(int)

# Normalizando los registros 'seasons' en 'season'
df_disney['duration_type'].replace('seasons', 'season', inplace = True)

In [326]:
# Dividiendo la columna 'duration' en 'duration_int' y 'duration_type' en la tabla de Hulu

duration = df_hulu['duration'].str.split(expand = True)
duration.columns = ['duration_int', 'duration_type']
df_hulu = pd.concat ([df_hulu, duration], axis = 1)

# Cambiando el tipo de dato en 'duration_int' a int
df_hulu['duration_int'] = df_hulu['duration_int'].astype(float).astype('Int32')

# Normalizando los registros 'seasons' en 'season'
df_hulu['duration_type'].replace('seasons', 'season', inplace = True)

In [327]:
# Dividiendo la columna 'duration' en 'duration_int' y 'duration_type' en la tabla de Netflix

duration = df_netflix['duration'].str.split(expand = True)
duration.columns = ['duration_int', 'duration_type']
df_netflix = pd.concat ([df_netflix, duration], axis = 1)

# Cambiando el tipo de dato en 'duration_int' a int
df_netflix['duration_int'] = df_netflix['duration_int'].astype(float).astype('Int32')

# Normalizando los registros 'seasons' en 'season'
df_netflix['duration_type'].replace('seasons', 'season', inplace = True)

In [329]:
# Se unen todas las tablas en una sola

df_all_streaming = pd.concat([df_amazon, df_disney, df_hulu, df_netflix], ignore_index = True)

In [331]:
# Se crea un archivo .csv con la nueva tabla

df_all_streaming.to_csv('./Datasets/all_streaming.csv')